<div
  class="flex flex-row items-center justify-between bg-primary h-28 w-full font-sanchez fixed z-50 scroll-smooth"
>
  <div class="flex flex-row w-1/3 items-center justify-end gap-4 underline">
    <a href="/cart" class="hover: cursor-pointer text-lg text-black/70"
      >Account</a
    >
    <a href="/cart" class="hover: cursor-pointer text-lg text-black/70"
      >About us</a
    >
    <a href="/connoisseur" class="hover: cursor-pointer text-lg text-black/70"
      >Connoisséur</a
    >
  </div>

  <a
    href="/"
    class="flex flex-row items-center justify-center w-1/5 border-x-[1px] border-black"
  >
    <img src="/logo.png" alt="Homies" width="150" height="150" />
  </a>

  <div class="flex flex-row w-1/3 items-center justify-start gap-4 underline">
    <a href="/cart" class="hover: cursor-pointer text-lg text-black/70"
      >Colléction 05</a
    >
    <a href="/cart" class="hover: cursor-pointer text-lg text-black/70"
      >Contacticá</a
    >
    <a href="/cart" class="hover: cursor-pointer text-lg text-black/70">Cart</a>
  </div>
</div>
