<div class="flex flex-col size-full pt-2">
  <div class="w-full flex flex-row gap-2">
    <input
      type="text"
      placeholder="Promocode"
      class="input input-bordered w-full"
    /><button class="btn btn-outline">Apply</button>
  </div>

  <div class="divider"></div>
  <!-- Sub total -->
  <div class="flex flex-col w-full">
    <h1>Subtotal</h1>
    <div class="flex flex-row justify-between">
      <p class="text-sm text-gray-500">Discount</p>
      <p>{{ "0" | currency }}</p>
    </div>
  </div>
  <!-- Total -->
  <div class="divider"></div>
  <div class="flex justify-between">
    <p>Total</p>
    <p>{{ total | currency }}</p>
  </div>
  <div class="divider"></div>
  <div class="flex flex-col items-center justify-center gap-2">
    <button
      (click)="onCheckout()"
      class="block bg-gray-700 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600 w-full rounded-xl"
    >
      Proceed to Checkout
    </button>
    <button
      (click)="onCheckout()"
      class="block bg-white px-5 py-3 text-sm text-black transition hover:bg-gray-100 w-full border-2 rounded-xl"
    >
      Continue Shopping
    </button>
    <button
      (click)="onClearCart()"
      class="block bg-red-500 px-5 py-3 text-sm text-red-100 transition hover:bg-red-600 w-full rounded-xl"
    >
      Clear All
    </button>
  </div>
</div>
