<div class="flex justify-end border-t border-gray-100 pt-2">
  <div class="w-screen max-w-lg space-y-4">
    <dl class="space-y-0.5 text-sm text-gray-700">
      <div class="flex justify-between !text-base font-medium">
        <dt>Total</dt>
        <dd>{{ total | currency }}</dd>
      </div>
    </dl>
    <div class="flex flex-row items-end justify-end gap-2">
      <div class="flex justify-end">
        <button
          (click)="onCheckout()"
          class="block rounded bg-gray-700 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600"
        >
          Proceed to Checkout
        </button>
      </div>
      <div class="flex justify-end">
        <button
          (click)="onClearCart()"
          class="block rounded bg-red-700 px-5 py-3 text-sm text-red-100 transition hover:bg-red-600"
        >
          Clear All
        </button>
      </div>
    </div>
  </div>
</div>
