<div class="w-full h-auto rounded-md bg-[#FF710D] pb-10">
  <!-- First row -->
  <div class="flex flex-row items-center justify-center gap-6">
    <div class="relative flex flex-col items-center justify-center pt-20">
      <div class="w-[400px]">
        <img src="/connoisseur/present.jpg" alt="" class="object-fit" />
      </div>

      <h4 class="font-sanchez">
        MarieMarie <ng-icon name="lucideInstagram" />
      </h4>
    </div>
    <div class="relative flex flex-col items-center justify-center pt-20">
      <h1
        class="absolute font-sanchez text-3xl font-thin bottom-80 text-center tracking-widest text-base-200 backdrop-blur-0"
      >
        ONE OF <br />
        A <br />
        KIND <br />
        <span class="text-black backdrop-blur-sm">♣</span>
      </h1>
      <!-- <img src="/connoisseur/present.jpg" alt="" width="150px" /> -->
      <div class="w-[600px]">
        <img src="/connoisseur/courier.jpg" alt="" class="object-fit" />
      </div>

      <h4 class="font-sanchez italic">La filosofia dello stile</h4>
    </div>
  </div>
  <!-- Second row -->
  <div class="w-full flex flex-row items-center justify-center gap-20">
    <div class="flex flex-col items-center justify-center pt-20">
      <div class="w-[500px]">
        <img src="/connoisseur/guy.jpg" alt="" class="object-fit" />
      </div>
      <h4 class="font-sanchez">JR Hach <ng-icon name="lucideInstagram" /></h4>
    </div>
    <div class="relative">
      <div
        class="z-10 absolute left-40 bottom-52 flex flex-col items-center justify-center pt-20"
      >
        <div class="w-[350px]">
          <img src="/connoisseur/lady.jpg" alt="" class="object-fit" />
        </div>
      </div>
      <div class="relative flex flex-col items-center justify-center pt-20">
        <div class="w-[350px]">
          <img src="/connoisseur/selfie.jpg" alt="" class="object-fit" />
        </div>
        <h4 class="font-sanchez">pinmi <ng-icon name="lucideInstagram" /></h4>
      </div>
    </div>
  </div>
</div>
