<div class="relative grid grid-cols-3 grid-rows-1 w-full h-[50rem] mb-12">
  <div
    class="absolute flex flex-col items-start justify-center pl-2 text-opacity-30 font-sanchez text-7xl text-white font-bold backdrop-blur-sm top-10"
  >
    <h1>For the few.</h1>
    <h1>Per pochi.</h1>
    <h1>Pour les quelques.</h1>
  </div>
  <p
    class="pl-2 absolute text-lg italic bottom-10 font-sanchez text-white backdrop-blur-sm text-opacity-85"
  >
    Crafted for those who don't just seek luxury, but demand perfection in every
    exquisite moment. <br />
    Where uncompromising quality meets timeless elegance, your extraordinary
    journey begins. <br />
    Elevating expectations beyond imagination, we don't just create products—we
    curate exceptional lifestyles.
  </p>
  <h1
    class="absolute bottom-10 right-2 font-sanchez font-bold text-primary text-2xl backdrop-blur-sm text-opacity-70"
  >
    Homiés
  </h1>
  <div
    *ngFor="let item of homeBannerItem"
    class="flex flex-col items-center justify-center rounded-xl"
  >
    <img [src]="item.imgUrl" alt="" class="size-full object-cover" />
  </div>
</div>
<div>
  <app-shop></app-shop>
</div>
